body {
	font-family: monospace, "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*font-family:consolas, monaco, courier, "courier new", fixed-width;*/
	font-size: 4vmin;
	transition: 2s;
	text-align: center;
}
.playbutton {
	font-family: monospace, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 6vmin;
	background-color: greenyellow;
	border: 1vmin solid pink;
}
.colorbox{
	position: sticky;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: inherit;
	font-weight: 1500;
	line-height: 1.1;
	color: #061633;
}

pre {
	font: 12px/20px Monaco, monospace;
	border: 1px solid #CCC;
	border-radius: 3px;
	background: #F9F9F9;
	padding: 10px;
	color: #555;
	overflow-x:auto; /* add horizontal scroll to code area, if needed */
}

a {
	color: #4383f2;
}